.text {
    margin-left: 15px;
}

.title {
    font-weight: 900
}

.containerVideo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
