.headerContainer {
    background: beige;
    width: 100%;
}

.header {
    padding-top: 10px;
    display: flex;
    padding-left: 28%;
    background: beige;
    height: 50px
}

.link {
    text-decoration: none;
    margin-right: 25px;
}

.booking {
    margin-top: 4px;
}

.img {
    margin-left: 40%;
    border-radius: 5px;
    height: 80px;
    width: 300px;
}