@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    background: #fff;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
* {
    margin: 0;
    padding: 0;
}
